<app-restaurant-result [restaurants$]="restaurants$"></app-restaurant-result>

<div *ngIf="!(restaurants$ | async)">
  loading.....
</div>

<div *ngFor="let restau of restaurants$ | async">

  <div>
    nom: {{restau.name}}
  </div>
  <div>Ajouter le : {{restau.createdAt | date: "dd/MM/yyyy à HH:mm"}}</div>
  <div><button mat-stroked-button color="primary" (click)="vote(restau)">+</button>
    {{setRankLabel(restau)}}

  <br>
</div>
