<h3>Resultat</h3>
<div *ngIf="sortedRestaurants">
    <mat-selection-list [multiple]="false" (selectionChange)="onSelectionChange($event)">
    <mat-list-option *ngFor="let restau of sortedRestaurants" [value]="restau" (click)="openConfirmDialog(restau)">
      {{ setRankLabel(restau) }}
    </mat-list-option>
  </mat-selection-list>
</div>
