<div class="main">
<div>
  <form [formGroup]="suggestionForm" (ngSubmit)="addRestaurant()">
    <mat-form-field appearance="fill">
      <mat-label>Restaurant</mat-label>
      <input matInput formControlName="name" type="text" />
    </mat-form-field>
    <br />
    <button mat-button color="primary" type="submit" [disabled]="!suggestionForm.valid">Ajouter</button>
  </form>

</div>
<div>
  <app-suggestion-list></app-suggestion-list>
</div>
</div>
